.container-calendar {
	background-color: white;
	display: grid;
	grid-template-rows: 100px 1000px;
	height: fit-content;
	padding: 20px 20px 0 20px;
}

.content-container-calendar {
	display: grid;
	grid-template-columns: 440px 900px;
}

.header-container-calendar {
	padding-top: 20px;
	display: grid;
	grid-template-columns: 400px 900px;
}

.time-search-type-calendar {
	display: flex;
	justify-content: flex-end;
}

/* box1 */
.box1-calendar {
	display: flex;
	flex-direction: column;
	gap: 30px;
}
.date-calendar {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 18px;
	margin-bottom: 40px;
}

.date-calendar h1 {
	font-weight: normal;
	font-size: 60px;
	color: #5a5a5a;
}

.date-calendar p {
	font-size: 40px;
	color: #5a5a5a;
}

/* btn-add-plan */
.add-plan-calendar {
	display: flex;
	justify-content: center;
	align-items: center;
}

.add-plan-calendar button {
	cursor: pointer;
	background-color: #373737;
	width: 240px;
	height: 60px;
	font-size: 20px;
	color: #f6f6f6;
	font-weight: normal;
	margin-top: 0;
	border: none;
	border-radius: 20px;
	font-size: 1.6rem;
}
.add-plan-calendar button:hover {
	background-color: #f6f6f6;
	color: #373737;
}

/* main-calendar */
.display-calendar {
	display: flex;
	justify-content: center;
	align-items: center;
}

/* type-calendar  */
.type-plan-calendar-container {
	padding: 14px 10px 20px 10px;
	width: 380px;
	border-radius: 58px;
	background-color: #f6f6f6;
	height: fit-content;
	display: flex;
	flex-direction: column;
	height: fit-content;
}
.type-plan-calendar {
	display: flex;
	justify-content: center;
	align-items: center;
}

.type-plan-calendar p {
	font-size: 1.3rem;
}

.title-type-plan-calendar {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.description-type-plan-calendar::-webkit-scrollbar {
	display: none;
}
.description-type-plan-calendar {
	margin-top: 10px;
	height: 80px;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	overflow-y: auto;
	gap: 10px;
	padding: 0 20px;
}
.description-type-plan-container {
	display: flex;
	gap: 10px;
}

.description-type-plan {
	margin-right: 10px;
}

.color-descrtiption-type-plan {
	height: 20px;
	width: 20px;
	background-color: red;
	border-radius: 4px;
}

/* next-plan */
.next-plan-calendar {
	display: flex;
	justify-content: center;
	align-items: center;
}

.next-plan-calendar-container {
	display: flex;
	flex-direction: column;
	gap: 10px;
	height: fit-content;
	background-color: #f6f6f6;
	width: 380px;
	border-radius: 40px;
	padding-bottom: 18px;
}

.title-next-plan-calender {
	font-size: 1.3rem;
	background-color: #373737;
	color: #f6f6f6;
	height: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.detail-next-plan-calendar-container {
	display: flex;
	flex-direction: column;
	gap: 16px;
	height: 236px;
	justify-content: flex-start;
	padding: 10px 20px 20px 30px;
	overflow-y: auto;
	overflow-x: hidden;
}
.detail-next-plan-calendar-container::-webkit-scrollbar {
	width: 10px;
}
.detail-next-plan-calendar-container::-webkit-scrollbar-thumb {
	background-color: #5a5a5a;
	width: 8px;
	border-radius: 8px;
}
.detail-next-plan-calendar {
	font-size: 1rem;
	display: flex;
	gap: 20px;
	align-items: center;
}
.date-next-plan-calendar {
	display: flex;
	width: 260px;
	padding: 2px 0 2px 10px;
	border-radius: 6px;
	align-items: center;
}

.date-next-plan-calendar-completed {
	align-items: center;
	display: flex;
	width: 260px;
	padding: 2px 0 2px 10px;
	border-radius: 6px;
	text-decoration: line-through;
}

.delete-next-plan-calendar {
	margin-left: auto;
}
/* box2 */
.box2-calendar {
	display: grid;
	grid-template-rows: 60px 60px auto;
	width: auto;
}

.container-box2-plan {
	margin-left: 30px;
	display: flex;
	gap: 80px;
}

.time-type-calendar button {
	font-size: 1.2rem;
	width: 100px;
	background-color: #f6f6f6;
	border: none;
	margin-left: 4px;
	height: 30px;
	border-radius: 20px;
}

.time-type-calendar button:hover {
	background-color: #373737;
	color: #f6f6f6;
}

.btn-date-calendar {
	margin-left: 30px;
	display: flex;
	gap: 10px;
}

.accept-delete-plan-container {
	left: 0;
	top: 0;
	bottom: 0;
	right: 0;
	background-color: rgba(0, 0, 0, 0.4);
	position: fixed;
	z-index: 9999;
	display: flex;
	justify-content: center;
	align-items: center;
}
@keyframes topToBottom {
	0% {
		transform: translateY(-400px);
	}
	100% {
		transform: translateY(0);
	}
}
.accept-delete-plan-box {
	animation-duration: 1s;
	animation-name: topToBottom;
	background-color: white;
	width: 440px;
	height: 200px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	gap: 30px;
	border-radius: 20px;
	font-size: 1.2rem;
}

.title-delete-plan__pop-up {
	line-height: 1.4;
	text-align: center;
}

.btn-delete-plan__pop-up {
	width: 60%;
	display: flex;
	justify-content: space-between;
}

.btn-delete-plan__pop-up button {
	width: 120px;
	height: 40px;
	border: none;
	border-radius: 10px;
	font-size: 1.2rem;
}

.btn-delete-plan__pop-up button:hover {
	background-color: #373737;
	color: white;
}
