.container-calendar {
	background-color: white;
	display: grid;
	grid-template-rows: 100px 1000px;
	height: fit-content;
	padding: 20px 20px 0 20px;
}

.content-container-calendar {
	display: grid;
	grid-template-columns: 440px 900px;
}

.header-container-calendar {
	padding-top: 20px;
	display: grid;
	grid-template-columns: 400px 900px;
}

.time-search-type-calendar {
	display: flex;
	justify-content: flex-end;
}

/* box1 */
.box1-calendar {
	display: flex;
	flex-direction: column;
	gap: 30px;
}
.date-calendar {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 18px;
	margin-bottom: 40px;
}

.date-calendar h1 {
	font-weight: normal;
	font-size: 60px;
	color: #5a5a5a;
}

.date-calendar p {
	font-size: 40px;
	color: #5a5a5a;
}

/* btn-add-plan */
.add-plan-calendar {
	display: flex;
	justify-content: center;
	align-items: center;
}

.add-plan-calendar button {
	cursor: pointer;
	background-color: #f6f6f6;
	width: 240px;
	height: 60px;
	font-size: 20px;
	color: black;
	font-weight: normal;
	margin-top: 0;
	border: none;
	border-radius: 20px;
	font-size: 1.6rem;
}
.add-plan-calendar button:hover {
	box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
		rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

/* main-calendar */
.display-calendar {
	display: flex;
	justify-content: center;
	align-items: center;
}

/* type-calendar  */
.type-plan-calendar-container {
	padding: 14px 10px 20px 10px;
	width: 380px;
	border-radius: 58px;
	background-color: #f6f6f6;
	height: fit-content;
	display: flex;
	flex-direction: column;
	height: fit-content;
}
.type-plan-calendar {
	display: flex;
	justify-content: center;
	align-items: center;
}

.type-plan-calendar p {
	font-size: 1.3rem;
}

.title-type-plan-calendar {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.description-type-plan-calendar {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	height: 100px;
	font-size: 0.9rem;
	justify-content: center;
	align-items: center;
	overflow-y: auto;
	padding-left: 10px;
}
.description-type-plan-calendar::-webkit-scrollbar {
	display: none;
}

.description-type-plan-container {
	align-items: center;
	margin: 10px 10px 10px 0;
	display: flex;
	width: fit-content;
	gap: 10px;
}

.description-type-plan {
	margin-right: 10px;
}

.color-descrtiption-type-plan {
	height: 20px;
	width: 20px;
	background-color: red;
	border-radius: 4px;
}

/* next-plan */
.next-plan-calendar {
	display: flex;
	justify-content: center;
	align-items: center;
}

.next-plan-calendar-container {
	display: flex;
	flex-direction: column;
	gap: 10px;
	height: fit-content;
	background-color: #f6f6f6;
	width: 380px;
	border-radius: 40px;
	padding-top: 18px;
}

.title-next-plan-calender {
	font-size: 1.3rem;
	text-align: center;
}
.detail-next-plan-calendar-container {
	display: flex;
	flex-direction: column;
	gap: 10px;
	height: 200px;
	justify-content: flex-start;
	padding-left: 20px;
	overflow-y: auto;
}
.detail-next-plan-calendar {
	font-size: 1rem;
	display: flex;
	gap: 16px;
}

/* box2 */
.box2-calendar {
	display: grid;
	grid-template-rows: 60px 60px auto;
	width: auto;
}

.container-box2-plan {
	margin-left: 30px;
	display: flex;
	gap: 80px;
}

.time-type-calendar button {
	font-size: 1.2rem;
	width: 100px;
	background-color: #f6f6f6;
	border: none;
	margin-left: 4px;
	height: 30px;
	border-radius: 20px;
}

.time-type-calendar button:hover {
	box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
		rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

.btn-search-calendar {
	box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
	padding-left: 20px;
	display: flex;
	background-color: #f6f6f6;
	height: 30px;
	width: 320px;
	gap: 10px;
	justify-content: center;
	align-items: center;
	border-radius: 20px;
}

.btn-search-calendar input {
	font-size: 1rem;
	width: 100%;
	background-color: #f6f6f6;
	border: none;
	justify-content: center;
	align-items: center;
}
.btn-search-calendar input:focus {
	outline: none;
}
.btn-date-calendar {
	margin-left: 30px;
	display: flex;
	gap: 10px;
}
.btn-date-calendar button {
	width: 110px;
	border: none;
	background-color: #f6f6f6;
	height: 50px;
	font-size: 1.4rem;
	border-radius: 20px;
}

.btn-date-calendar button:hover {
	box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
		rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

.btn-active-date-calendar {
	box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
		rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}
