.container-calendar {
	background-color: white;
	display: flex;
	flex-direction: column;
	gap: 20px;
	width: 1330px;
}

.content-container-calendar {
	display: grid;
	grid-template-columns: 400px 930px;
}

.header-container-calendar {
	display: grid;
	grid-template-columns: 400px 930px;
	height: 100px;
}

.time-search-type-calendar {
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

/* box1 */
.box1-calendar {
	display: flex;
	flex-direction: column;
	gap: 20px;
}
.date-calendar {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 18px;
}

.date-calendar h1 {
	font-weight: normal;
	font-size: 60px;
	color: #5a5a5a;
}

.date-calendar p {
	font-size: 40px;
	color: #5a5a5a;
}

/* btn-add-plan */
.add-plan-calendar {
	display: flex;
	justify-content: center;
	align-items: center;
}

.add-plan-calendar button {
	cursor: pointer;
	background-color: #373737;
	width: 240px;
	height: 50px;
	font-size: 20px;
	color: #f6f6f6;
	font-weight: normal;
	margin-top: 0;
	border: none;
	border-radius: 20px;
	font-size: 1.4rem;
}

.add-plan-calendar button:hover {
	background-color: #f6f6f6;
	color: #373737;
}

/* main-calendar */
.display-calendar {
	display: flex;
	justify-content: center;
	align-items: center;
}

/* type-calendar  */
.type-plan-calendar-container {
	width: 340px;
	background-color: #f6f6f6;
	height: fit-content;
	display: flex;
	flex-direction: column;
	height: fit-content;
	padding: 10px;
}
.type-plan-calendar {
	display: flex;
	justify-content: center;
	align-items: center;
}

.type-plan-calendar p {
	font-size: 1.3rem;
}

.title-type-plan-calendar {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.description-type-plan-calendar::-webkit-scrollbar {
	display: none;
}
.description-type-plan-calendar {
	margin-top: 10px;
	height: 80px;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	overflow-y: auto;
	gap: 10px;
}
.description-type-plan-container {
	display: flex;
	gap: 10px;
}

.description-type-plan {
	margin-right: 10px;
}

.color-descrtiption-type-plan {
	height: 20px;
	width: 20px;
	background-color: red;
	border-radius: 4px;
}

/* next-plan */
.next-plan-calendar {
	display: flex;
	justify-content: center;
	align-items: center;
}

.next-plan-calendar-container {
	display: flex;
	flex-direction: column;
	gap: 10px;
	height: 280px;
	background-color: #f6f6f6;
	width: 340px;
	border-radius: 40px;
	padding-bottom: 18px;
}

.title-next-plan-calender {
	font-size: 1.3rem;
	background-color: #373737;
	color: #f6f6f6;
	height: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.detail-next-plan-calendar-container {
	display: flex;
	flex-direction: column;
	gap: 16px;
	height: 236px;
	justify-content: flex-start;
	padding: 10px 20px 20px 30px;
	overflow-y: auto;
	overflow-x: hidden;
}
.detail-next-plan-calendar-container::-webkit-scrollbar {
	width: 10px;
}
.detail-next-plan-calendar-container::-webkit-scrollbar-thumb {
	background-color: #5a5a5a;
	width: 8px;
	border-radius: 8px;
}
.detail-next-plan-calendar {
	font-size: 1rem;
	display: flex;
	gap: 20px;
	align-items: center;
}
.date-next-plan-calendar {
	display: flex;
	width: 260px;
	padding: 2px 0 2px 10px;
	border-radius: 6px;
	align-items: center;
}

.date-next-plan-calendar-completed {
	align-items: center;
	display: flex;
	width: 260px;
	padding: 2px 0 2px 10px;
	border-radius: 6px;
	text-decoration: line-through;
}

.delete-next-plan-calendar {
	margin-left: auto;
}
/* box2 */
.box2-calendar {
	display: flex;
	flex-direction: column;
}

.container-box2-plan {
	margin-left: 30px;
	display: flex;
	gap: 80px;
}

.time-type-calendar button {
	font-size: 1.2rem;
	width: 100px;
	background-color: #f6f6f6;
	border: none;
	margin-left: 4px;
	height: 40px;
	border-radius: 20px;
}

.time-type-calendar button:hover {
	background-color: #373737;
	color: #f6f6f6;
}

.btn-date-calendar {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 10px;
}
