.plan-calendar {
	background-color: #f6f6f6;
	border-radius: 20px;
	margin-top: 20px;
	box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
	padding: 20px 40px;
	height: 900px;
	display: flex;
	width: 1000px;
	overflow-y: auto;
}

.plan-calendar-container {
	display: flex;
	gap: 40px;
	flex-wrap: wrap;
}

/* detail-plan-calendar */

.detail-plan-calendar-container {
	width: 280px;
	margin-top: 20px;
	display: flex;
	flex-direction: column;
	gap: 40px;
	height: 100px;
}

.specific-time-plan-calendar {
	font-size: 1.8rem;
	margin-bottom: 20px;
}

.content-detail-plan-calendar {
	display: flex;
	width: 280px;
	flex-direction: column;
	position: relative;
}

.tag-detail-plan-calendar {
	width: 38px;
	height: 28px;
	top: -20px;
	margin-left: 25px;
	z-index: 1;
	left: 0;
	position: absolute;
	border-radius: 4px;
}

.detail-description-plan-calendar {
	z-index: 2;
	background: rgba(246, 246, 246, 0);
	border-radius: 16px;
	box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
		rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
	backdrop-filter: blur(4px);
	-webkit-backdrop-filter: blur(4px);
	border: 1px solid rgba(246, 246, 246, 0.32);
	padding: 20px 0 10px 20px;
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.title-detail-plan-calendar {
	font-size: 1.4rem;
}

.time-detail-plan-calendar {
	font-size: 1rem;
	margin-left: 20px;
}
