.month-layout-container {
	background-color: white;
	border-radius: 20px;
	margin-top: 20px;
	box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
	width: 900px;
	height: fit-content;
	overflow: auto;
	margin-bottom: 20px;
	display: flex;
}

.month-layout-overflow-container {
	display: flex;
	flex-wrap: wrap;
}

.month-layout-box1 {
	width: calc(900px / 6);
	height: calc(800px / 5);
	display: flex;
	flex-direction: column;
	border-right: 0.8px solid #ccc;
	border-bottom: 0.8px solid #ccc;
	padding: 10px 10px 4px 10px;
	gap: 6px;
}

.month-layout-box2 {
	width: calc(900px / 6);
	height: calc(800px / 5);
	display: flex;
	align-items: end;
	justify-content: end;
	border-right: 0.8px solid #ccc;
	border-bottom: 0.8px solid #ccc;
	padding: 10px 10px 4px 10px;
}

.month-plan-container {
	display: flex;
	flex-wrap: wrap;
	gap: 10px;
}

.month-layout-description {
	margin-top: auto;
	margin-left: auto;
}
.content-month-plan-container {
	width: 70px;
	display: flex;
	flex-wrap: wrap;
	height: auto;
	font-size: 0.8rem;
}
