.week-layout-container {
	border-radius: 40px;
	margin-top: 20px;
	box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
	width: 900px;
	height: 930px;
	overflow: auto;
	margin-bottom: 20px;
	display: flex;
	position: relative;
	background-color: #f6f6f6;
	overflow-x: auto;
}

.time-week__layout-container {
	margin-top: 60px;
	margin-left: 10px;
	display: flex;
	flex-direction: column;
	gap: 80px;
	width: fit-content;
}

.week-layout-edit {
	display: flex;
}

.week-layout-edit-timeColumn {
	padding: 10px 10px 10px 0px;
	font-size: 1.2rem;
	height: fit-content;
}

.week-layout-edit-timeOption {
	position: sticky;
	left: 0;
	z-index: 9999;
	height: 200px;
	padding: 6px 0 10px 10px;
	background-color: #f6f6f6;
}

.plan-time-week__layout-container {
	display: flex;
	flex-wrap: wrap;
	max-width: 1000px;
}
.day-week__layout-container {
	display: flex;
}
.item-day-week__layout-container {
	width: calc(1000px / 7);
	height: 60px;
	display: flex;
	align-items: center;
	font-size: 1.2rem;
	border-right: 1px solid #ccc;

	justify-content: center;
}
.plan-week__layout-container {
	display: flex;
	max-width: 1000px;
	flex-wrap: wrap;
}
.item-plan-week__layout-container {
	display: flex;
	width: calc(1000px / 7);
	height: 200px;
	border: 1px solid #ccc;
	border-left: none;
	border-bottom: none;
}
.specific-plan-week__container {
	border: 1px solid #ccc;
	border-left: none;
	width: calc(1000px / 7);
	display: flex;
	flex-direction: column;
	padding: 10px;
	height: 200px;
}

.avatar-plan-week__container {
	margin-top: auto;
	margin-left: auto;
}

.box-specific-plan-week__container {
	display: flex;
	flex-direction: column;
	padding: 8px 8px 10px 8px;
	height: 100%;
	background-color: #f6f6f6;
	border-radius: 10px;
	box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px,
		rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
}
.box-specific-plan-week__container:hover {
	transform: scale(1.2);
}
.tag-specific-plan-week__container {
	height: 6px;
	width: 100%;
	border-radius: 20px;
}

.title-specific-plan-week__container {
	margin-top: 10px;
	line-height: 1.4;
	font-size: 0.9rem;
}

.heading-specific-plan-week__container {
	margin-bottom: 10px;
}

.interval-time-specific-plan-week__container {
	font-style: italic;
	font-size: 0.8rem;
}
