.week-layout-container {
	background-color: white;
	border-radius: 40px;
	margin-top: 20px;
	box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
	width: 900px;
	height: 800px;
	overflow-y: auto;
	margin-bottom: 20px;
	display: flex;
	position: relative;
}

.time-week__layout-container {
	border: 2px solid red;
	margin-top: 60px;
	margin-left: 10px;
	display: flex;
	flex-direction: column;
	gap: 80px;
	width: fit-content;
}

.week-layout-edit {
	display: flex;
}

.week-layout-edit-timeColumn {
	padding: 10px;
	font-size: 1.2rem;
	height: fit-content;
}

.week-layout-edit-timeOption {
	height: 200px;
	padding: 10px 0 10px 10px;
}

.plan-time-week__layout-container {
	display: flex;
	flex-wrap: wrap;
	max-width: 1000px;
}
.day-week__layout-container {
	display: flex;
}
.item-day-week__layout-container {
	width: calc(1000px / 7);
	height: 68px;
	display: flex;
	align-items: center;
	font-size: 1.4rem;
	border-right: 1px solid #ccc;
	justify-content: center;
}
.plan-week__layout-container {
	display: flex;
	max-width: 1000px;
	flex-wrap: wrap;
}
.item-plan-week__layout-container {
	display: flex;
	width: calc(1000px / 7);
	height: 200px;
	border: 1px solid #ccc;
}

/* .week-layout-edit {
	display: flex;
}
.week-layout-edit-timeOption h5 {
	font-size: 15px;
	font-weight: 600;
}
.week-layout-edit-weekdayOption {
	border-right: 1px solid black;
	display: flex;
	flex-direction: column;
}
.week-layout-edit-weekdayRow {
	display: flex;
} */
/* .week-layout-timeline {
	position: sticky;
	left: 0;
	background-color: white;
	width: 70px;
	height: 100%;
}
.week-layout-header {
	display: flex;
}
.week-layout-emptyBox {
	padding: 10px;
}
.week-layout-header-option {
	padding: 10px;
	padding-top: 20px;
	padding-bottom: 20px;
	width: 200px;
	border-right: 1px solid lightgray;
	border-bottom: 1px solid lightgray;
}

.week-layout-timer-option {
	height: 100px;
	border-bottom: 1px solid;
} */
