.year-layout-container {
	width: 100%;
	height: auto;
	overflow-y: auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	overflow-x: auto;
}

.btn-year-layout {
	padding: 10px;
	width: 200px;
	border-radius: 58px;
	background-color: #f6f6f6;
	height: fit-content;
	display: flex;
	flex-direction: column;
	gap: 8px;
	justify-content: center;
	align-items: center;
	border: none;
	font-size: 1.2rem;
	margin-bottom: 20px;
	cursor: pointer;
}
.btn-year-layout:hover {
	box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
		rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}
.calendar-year-detail-layout-container {
	margin-bottom: 20px;
}

.calendar-year-layout-container {
	padding: 0 40px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
