.react-calendar {
	height: 340px;
	width: 380px;
	max-width: 100%;
	background-color: #f6f6f6;
	color: gray;
	border-radius: 10px;
	font-family: Arial, Helvetica, sans-serif;
	line-height: 1.125em;
	font-size: 1rem;
	font-weight: bold;
}

.react-calendar__navigation {
	display: flex;
	height: 60px;
	justify-content: center;
}
.react-calendar__navigation button {
	display: flex;
	flex-direction: row;
	border: none;
	color: gray;
	min-width: 44px;
	background: none;
	font-size: 20px;
	margin-top: 8px;
	align-items: center;
	justify-content: center;
}

.react-calendar__navigation button:enabled:hover,
.react-calendar__navigation button:enabled:focus {
	background-color: #f8f8fa;
}
.react-calendar__navigation button[disabled] {
	background-color: #f0f0f0;
}
abbr[title] {
	text-decoration: none;
}
.react-calendar__month-view__days {
	margin: 10px 0;
	display: flex;
}
/* .react-calendar__month-view__days__day--weekend {
	color: #d10000;
} */
.react-calendar__tile:enabled:hover,
.react-calendar__tile:enabled:focus {
	background-color: #060606;
	color: #fff;
	border-radius: 10px;
}

.react-calendar__tile--now {
	border-radius: 6px;
	font-weight: bold;
	width: 100%;
	height: 100%;
	color: brown;
}

.react-calendar__tile--now:enabled:hover,
.react-calendar__tile--now:enabled:focus {
	background: #060606;
	border-radius: 6px;
	font-weight: bold;
	color: white;
}
.react-calendar__tile--hasActive:enabled:hover,
.react-calendar__tile--hasActive:enabled:focus {
	background: #f8f8fa;
}
.react-calendar__tile--active {
	background: yellow;
	border-radius: 6px;
	font-weight: bold;
	color: white;
}
.react-calendar__tile--active:enabled:hover,
.react-calendar__tile--active:enabled:focus {
	background-color: #060606;
	color: white;
}
.react-calendar--selectRange .react-calendar__tile--hover {
	background-color: #f8f8fa;
}
.react-calendar__tile--range {
	background: #f8f8fa;
	color: beige;
	border-radius: 0;
}
.react-calendar__tile--rangeStart {
	border-radius: 10px;
	color: white;
}
.react-calendar__tile--rangeEnd {
	color: white;
	background-color: #060606 !important;
	box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

/* custom */
.react-calendar__navigation {
	margin-bottom: 10px;
}

button.react-calendar__tile.react-calendar__month-view__days__day {
	border: none;
	background-color: transparent;
	height: 30px !important;
	margin-bottom: 10px;
	border-radius: 20px !important;
}

.react-calendar__month-view__weekdays {
	text-align: center;
}

.react-calendar__year-view__months__month {
	height: 60px;
	border: none;
	font-size: 1.2rem;
	background-color: transparent;
}

.react-calendar__decade-view__years__year {
	height: 60px;
	background-color: transparent;
	border: none;
	font-size: 1.2rem;
}

.react-calendar__century-view__decades__decade {
	height: 60px;
	background-color: transparent;
	border: none;
	font-size: 1.2rem;
}

.react-calendar__navigation button[disabled] {
	background-color: transparent;
}
