.create-plan-container {
	position: fixed;
	background-color: rgba(0, 0, 0, 0.55);
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 9999;
	gap: 20px;
}

.create-plan-box {
	background-color: white;
	border-radius: 16px;
	width: 700px;
	height: 800px;
	display: flex;
	position: relative;
	flex-direction: column;
}

.create-plan-btn {
	border-radius: 16px;
	background-color: rgba(37, 37, 37, 1);
	width: 100%;
	height: 80px;
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
	font-size: 2rem;
}

.name-create-plan-input {
	width: 90%;
	height: 100%;
	font-size: 1.2rem;
	display: flex;
	height: 70px;
	margin: 0 40px;
	border: none;
	border-bottom: 4px solid #9e9b9b;
	padding-top: 20px;
	margin-bottom: 40px;
}

.name-create-plan-input:focus {
	outline: none;
}

.type-create-plan-container {
	display: flex;
	flex-direction: column;
	margin-left: 40px;
	gap: 10px;
}

.title-type-create-plan-container {
	display: flex;
	align-items: center;
	gap: 20px;
}

.title-type-create-plan {
	height: 44px;
	font-size: 1.4rem;
	display: flex;
	align-items: center;
	font-weight: bold;
	border-radius: 10px;
	justify-content: start;
}

.tag-type-create-plan-container {
	display: flex;
	gap: 20px;
	font-size: 1.2rem;
	margin-left: 50px;
	margin-top: 10px;
	width: fit-content;
	align-items: center;
	justify-content: center;
}
.tag-type-create-plan__box {
	display: flex;
	justify-content: center;
	gap: 6px;
	align-items: center;
}

.tag-type-create-plan-box-4 {
	display: flex;
	gap: 10px;
	width: 400px;
	overflow-y: scroll;
	flex-wrap: wrap;
	height: 70px;
}
.tag-type-create-plan-box-4::-webkit-scrollbar {
	width: 8px;
}
.tag-type-create-plan-box-4::-webkit-scrollbar-thumb {
	background-color: #9e9b9b;
	width: 8px;
	border-radius: 10px;
}
.array-of-tag-plan {
	display: flex;
	gap: 10px;
	align-items: center;
	margin-right: 10px;
}

.tag-type-create-plan {
	border-radius: 8px;
	background-color: red;
	width: 27px;
	height: 29px;
}

.time-create-plan-container {
	margin-top: 20px;
	margin-left: 40px;
	font-size: 1.2rem;
	display: flex;
	width: 471px;
	height: 93px;
}

.date-detail-create-plan-box {
	flex-wrap: wrap;
	display: flex;
	flex-direction: column;
	width: 100%;
	padding-left: 18px;
	height: 100px;
	position: relative;
}

.calendar-picker-cover {
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
}

.date-detail-create-plan-container {
	background-color: #f0f0f0;
	width: 300px;
	height: 40px;
	font-size: 1.2rem;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 10px;
	flex-wrap: wrap;
	margin-right: 30px;
}

.calendar-for-pickerDate {
	position: absolute;
	top: 42px;
	left: 14px;
	width: 380px;
	height: 340px;
}

.time-detail-create-plan-container {
	background-color: #f0f0f0;
	width: 160px;
	height: 40px;
	font-size: 1.2rem;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 10px;
	margin-left: auto;
	position: relative;
}
.time-detail-create-plan-cover {
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	position: fixed;
}
.dropdown-time-detail-create-plan-container {
	width: 160px;
	height: 160px;
	position: absolute;
	z-index: 1;
	background: rgba(255, 255, 255, 0.78);
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
	backdrop-filter: blur(6.2px);
	-webkit-backdrop-filter: blur(6.2px);
	border: 1px solid rgba(255, 255, 255, 0.3);
	overflow-y: auto;
	top: 40px;
	right: 0;
}
.dropdown-time-detail-create-plan-box {
	margin-bottom: 10px;
	margin-left: 20px;
	margin-top: 10px;
}
/* Rounded sliders */
.slider.round {
	border-radius: 34px;
}

.slider.round:before {
	border-radius: 50%;
}

.toggle-date-create-plan-container {
	display: flex;
	background-color: #f0f0f0;
	width: 140px;
	height: 40px;
	font-size: 1.2rem;
	justify-content: center;
	align-items: center;
	border-radius: 10px;
	gap: 10px;
	margin-top: auto;
}

.repeat-create-plan-container {
	background-color: #f0f0f0;
	width: 100px;
	height: 40px;
	font-size: 1.2rem;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 10px;
	margin-top: 16px;
}

/* go-together */
.go-together-create-plan-container {
	margin-top: 20px;
	display: flex;
	margin-left: 40px;
	gap: 18px;
	align-items: center;
}

.go-together-create-plan-box {
	background-color: #f0f0f0;
	width: 64%;
	font-size: 1.2rem;
	display: flex;
	flex-wrap: wrap;
	border-radius: 10px;
	padding: 10px;
	overflow-y: auto;
	gap: 10px;
}
.go-together-create-plan-box::-webkit-scrollbar {
	display: none;
}
/* location */
.location-create-plan-container {
	display: flex;
	margin-left: 40px;
	gap: 18px;
	align-items: center;
}

.location-create-plan-box {
	background-color: #f0f0f0;
	width: 260px;
	height: 40px;
	font-size: 1.2rem;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 10px;
	border: none;
	padding: 10px;
}
.location-create-plan-box:focus {
	outline: none;
}
.notice-create-plan-container {
	margin-top: 20px;
	display: flex;
	margin-left: 40px;
	gap: 18px;
	align-items: center;
	width: 1000px;
	height: auto;
}

.notice-create-plan-container textarea {
	padding: 10px 20px;
	background-color: #f0f0f0;
	width: 600px;
	height: 100px;
	font-size: 1.2rem;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 10px;
	resize: none;
	border: none;
}

.notice-create-plan-container textarea:focus {
	outline: none;
}

.button-delete-create-plan-container {
	justify-content: flex-end;
	margin-top: auto;
	display: flex;
	margin-right: 40px;
	margin-bottom: 20px;
	gap: 20px;
}

.button-delete-create-plan-container button {
	width: 100px;
	height: 40px;
	font-size: 1.2rem;
	border-radius: 40px;
	border: none;
	background-color: #f0f0f0;
	cursor: pointer;
}

.button-delete-create-plan-container button:hover {
	background-color: rgb(37, 37, 37);
	color: white;
	box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
}
.go-together-background {
	position: absolute;
	left: 700px;
}
.go-to-palace-container {
	height: 500px;
	width: 500px;
	background-color: white;
	margin-left: 30px;
	border-radius: 20px;
	padding: 20px;
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
	border: none;
}
.go-to-palace-tittle {
	height: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.go-to-palace-tittle-info {
	font-size: 30px;
	font-weight: 600;
}
.go-to-palace-search-bar {
	height: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.go-to-palace-search-all {
	height: 50px;
	width: 90%;
	display: flex;
	justify-content: center;
	align-items: center;
	border: none;
	background-color: rgb(237, 237, 237);
	border-radius: 12px;
}
.go-to-palace-search-input {
	font-size: 1rem;
	padding: 5px;
	width: 90%;
	background-color: rgb(237, 237, 237);
	border: none;
}
.go-to-palace-search-icon {
	margin-top: 3px;
}
.go-to-palace-search-input:focus {
	outline: none;
}
.go-to-palace-result {
	margin-top: 20px;
	display: flex;
	align-items: center;
	gap: 10px;
}
.show-more-partner {
	margin-top: 20px;
	margin-left: 480px;
}
.go-to-palace-result-icon {
	margin-left: 30px;
	display: flex;
	align-items: center;
}
.go-to-palace-result-info {
	font-size: 14px;
	display: flex;
	align-items: center;
}
.go-together-user-container {
	margin-top: 20px;
	display: flex;
	flex-direction: column;
	height: 240px;
	overflow-y: auto;
	gap: 10px;
	padding-left: 30px;
	padding-bottom: 10px;
}
.go-to-palace-result-name {
	cursor: pointer;
	display: flex;
	align-items: center;
	gap: 20px;
	width: 94%;
	box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
	padding: 10px;
}
.go-to-palace-result-name:hover {
	transform: scale(1.1);
}
.go-to-palace-result-name-choice {
	cursor: pointer;
	display: flex;
	align-items: center;
	gap: 20px;
	width: 94%;
	box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
	padding: 10px;
	background-color: #ccc;
}

.go-to-palace-result-name-img {
	height: 40px;
	width: 40px;
	border: 1px solid;
	border-radius: 100%;
}
.go-to-palace-btn-bottom {
	height: 70px;
	display: flex;
	margin-top: 10px;
	justify-content: end;
	margin-right: 20px;
}

.form-btn-cancel {
	height: 40px;
	background-color: white;
	color: black;
	width: 90px;
	border-radius: 20px;
	font-size: 20px;
	font-weight: 600;
	margin-top: 15px;
	border: 0px solid;
}

.go-to-palace-form-btn-cancel {
	height: 40px;
	background-color: #f6f6f6;
	color: black;
	width: 90px;
	border-radius: 20px;
	font-size: 18px;
	margin-top: 15px;
	border: none;
	margin-left: auto;
}
.go-to-palace-btn-cancel button {
	cursor: pointer;
}
.go-to-palace-btn-cancel button:hover {
	background-color: black;
	color: white;
}
.go-to-palace-btn-create button {
	cursor: pointer;
}
.go-to-palace-btn-create button:focus {
	background-color: white;
	color: black;
}

.create-name-search-name-bar {
	height: auto;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 20px;
}
.create-name-search-name-input {
	padding: 5px;
	border-radius: 10px;
	background-color: rgb(237, 237, 237);
	border: none;
	height: 40px;
	font-size: 15px;
	width: 80%;
}
.create-name-search-name-input:focus {
	outline: none;
}
.create-name-search-phone-input {
	padding: 5px;
	border-radius: 10px;
	background-color: rgb(237, 237, 237);
	border: none;
	width: 80%;
	height: 40px;
	font-size: 15px;
}
.create-name-search-phone-input:focus {
	outline: none;
}
.create-name-search-note-input {
	padding: 10px;
	border-radius: 10px;
	background-color: rgb(237, 237, 237);
	border: none;
	width: 80%;
	height: 150px;
	font-size: 15px;
	resize: none;
}
.create-name-search-note-input:focus {
	outline: none;
}
.create-name-container {
	height: 500px;
	width: 500px;
	background-color: white;
	margin-left: 30px;
	border-radius: 20px;
	padding: 20px;
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
	border: none;
}
.create-name-btn-bottom {
	height: 70px;
	display: flex;
	margin-top: 40px;
}
.create-name-form-btn-cancel {
	height: 40px;
	background-color: white;
	color: black;
	width: 90px;
	border-radius: 20px;
	font-size: 18px;
	font-weight: 600;
	margin-top: 15px;
	border: 0px solid;
}
.create-name-btn-cacel button {
	cursor: pointer;
}
.create-name-btn-cacel button:active {
	background-color: black;
	color: white;
}
.create-name-form-btn-create {
	height: 40px;
	background-color: black;
	color: white;
	width: 90px;
	border-radius: 20px;
	font-size: 18px;
	font-weight: 600;
	margin-top: 14px;
}
.create-name-btn-create button {
	cursor: pointer;
}
.create-name-btn-create button:focus {
	background-color: white;
	color: black;
}

.new-tag-input {
	width: 60%;
	font-size: 1.2rem;
	background-color: rgb(245, 245, 245);
	border: none;
	height: 42px;
	padding-left: 10px;
	border-radius: 10px;
}
.new-tag-add-color {
	display: flex;
	align-items: center;
}
.add-new-tag-plan {
	display: flex;
	gap: 20px;
}
.new-tag-name-color {
	margin-top: 10px;
	margin-left: 20px;
	font-size: 15px;
	font-weight: 550;
}

.new-tag-color-option {
	height: 34px;
	width: 34px;
	border: 1px solid;
	display: inline-block;
	cursor: pointer;
}

.tag-color-option {
	position: absolute;
	z-index: 2;
	top: 198px;
	left: 576px;
}

.tag-color-option-cover {
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
}

.loading {
	position: fixed;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
	background-color: rgba(0, 0, 0, 0.55);
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 9999;
}

.accept-delete-tag-container {
	position: fixed;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
	background-color: rgba(0, 0, 0, 0.1);
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 9999;
}

.accept-delete-tag-box {
	background-color: white;
	border-radius: 14px;
	height: 120px;
	width: 300px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.btn-delete-tag__pop-up {
	display: flex;
	margin-top: 20px;
	gap: 10px;
}

.btn-delete-tag__pop-up button {
	height: 40px;
	width: 90px;
	background-color: #f6f6f6;
	border: none;
	font-size: 1rem;
	border-radius: 20px;
}

.btn-delete-tag__pop-up button:hover {
	background-color: rgb(37, 37, 37);
	color: white;
}
