.accept-delete-plan-container {
	left: 0;
	top: 0;
	bottom: 0;
	right: 0;
	background-color: rgba(0, 0, 0, 0.15);
	position: fixed;
	z-index: 9999;
	display: flex;
	justify-content: center;
	align-items: center;
}
@keyframes topToBottom {
	0% {
		transform: translateY(-400px);
	}
	100% {
		transform: translateY(0);
	}
}
.accept-delete-plan-box {
	animation-duration: 0.8s;
	animation-name: topToBottom;
	background-color: white;
	width: 440px;
	height: 200px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	gap: 30px;
	border-radius: 20px;
	font-size: 1.2rem;
}

.title-delete-plan__pop-up {
	line-height: 1.4;
	text-align: center;
}

.btn-delete-plan__pop-up {
	width: 60%;
	display: flex;
	justify-content: space-between;
}

.btn-delete-plan__pop-up button {
	width: 120px;
	height: 40px;
	border: none;
	border-radius: 10px;
	font-size: 1.2rem;
}

.btn-delete-plan__pop-up button:hover {
	background-color: #373737;
	color: white;
}

.date-picker-box__show-plan {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.date-picker-container {
	display: flex;
	gap: 20px;
	align-items: center;
	margin-top: 10px;
}

.date-detail-show-plan-box {
	display: flex;
}

.time-show-plan-box {
	display: flex;
	gap: 20px;
	margin-top: 20px;
	align-items: center;
}

.time-show-plan-container {
	display: flex;
	flex-direction: column;
	gap: 10px;
	margin-left: 40px;
}

.tag-type-create-plan-box-4 {
	margin-left: 40px;
	display: flex;
	gap: 10px;
	width: 480px;
	overflow-y: scroll;
	flex-wrap: wrap;
	height: 70px;
}
