/* tạo doanh nghiệp page 1 */
.add-business-container-all {
	width: 1400px;
}
.add-business-container {
	display: grid;
	grid-template-columns: 450px 900px;
}
.add-business-create-file-business-container {
	width: 100%;
	padding-right: 20px;
}
.add-business-create-file-business-heading {
	height: 70px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.add-business-create-file-business-heading-tittle {
	font-size: 18px;
	font-weight: 600;
	padding-left: 10px;
}
.add-business-create-file-business-body {
	padding: 10px;
	width: 100%;
	background-color: white;
	border: none;
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	gap: 10px;
}
.add-business-create-file-business-body-tittle {
	height: 50px;
	display: flex;
	align-items: center;
}
.add-business-create-file-business-body-tittle-info {
	font-size: 20px;
	font-weight: 600;
	display: flex;
	align-items: center;
	height: 50px;
}

/* form */
.form-business-information {
	display: flex;
	flex-direction: column;
	gap: 20px;
}
.input-business-information {
	display: flex;
	flex-direction: column;
	gap: 6px;
}
.input-business-information input {
	height: 30px;
	border-radius: 10px;
	padding-left: 10px;
	border: 1px solid #ccc;
}

.input-business-information span {
	color: red;
	font-size: 0.9rem;
	font-style: italic;
	display: none;
}

.input-business-information input:invalid ~ span {
	display: block;
}

.district-ward-container {
	display: flex;
	justify-content: space-between;
}

.district-ward-container input {
	width: 200px;
}

.add-business-create-file-business-info-describe {
	margin-top: 5px;
	resize: none;
	width: 99%;
	height: 100px;
	padding: 5px;
	font-size: 15px;
	border-radius: 10px;
	border: 1px solid rgb(200, 196, 196);
}
.add-business-create-file-business-info-describe:focus {
	outline: none;
}
.add-business-create-file-business-info-describe::-webkit-scrollbar {
	width: 10px;
}
::-webkit-scrollbar-thumb {
	background: #888;
	border-radius: 10px;
}
::-webkit-scrollbar-track {
	background: transparent;
	border-radius: 10px;
}
.add-business-create-file-business-btn {
	height: 30px;
	width: 90px;
	background-color: rgb(248, 168, 89);
	color: white;
	border-radius: 10px;
	margin-left: auto;
	margin-right: 25px;
	cursor: pointer;
	border: none;
}
.add-business-create-file-business-btn:hover {
	background-color: black;
	color: white;
}

/* tạo doanh nghiệp page 2 */
.add-business-create-file-business-page-2 {
	width: 100%;
	background-color: white;
	border: none;
	border-radius: 10px;
	padding: 10px;
	height: 928px;
}
.add-business-create-file-business-profile-logo-personal {
	height: auto;
	margin-top: 15px;
}
.add-business-create-file-business-profile-logo {
	display: flex;
}

.add-business-create-file-business-profile-logi-img {
	display: flex;
	align-items: center;
}

.add-business-create-file-business-page-2-bottom {
	height: auto;
	margin-top: 15px;
	display: flex;
}
.add-business-create-file-business-page-2-btn {
	height: 40px;
	width: 120px;
	background-color: rgb(248, 168, 89);
	color: white;
	border-radius: 14px;
	margin-left: auto;
	font-size: 1.1rem;
	border: none;
}
.add-business-create-file-business-page-2-btn:hover {
	background-color: black;
	color: white;
}

/* upload avatar business */
#avatar-business {
	display: none;
}

/* containerName */
.detail-profile-add-business_container {
	display: flex;
	gap: 20px;
	align-items: center;
}

/* imgContainer */
.add-business-create-file-business-profile-logo-circles {
	height: 160px;
	width: 160px;
	border-radius: 50%;
	border: 1px solid rgb(200, 196, 196);
	margin-top: 20px;
}

/* editContainer */
.add-business-create-file-business-profile-logo-fix-icon {
	cursor: pointer;
	display: flex;
}

.img-avatar-business {
	max-width: 100%;
	max-height: 100%;
	border-radius: 50%;
}

/* upload background business */
/* containerName */
.background-business-container {
	display: flex;
	flex-direction: column;
}
/* imgContainer */
.add-business-create-file-business-profile-add-background-pic {
	height: 150px;
	width: 100%;
	border: 1px solid rgb(200, 196, 196);
	margin-top: 20px;
}

/* editContainer */
.add-business-create-file-business-profile-background-pic-fix {
	display: flex;
	height: auto;
	margin-top: 15px;
	margin-left: auto;
}

.img-background-business {
	max-width: 100%;
	max-height: 100%;
}
